h1, label{
  font-family: 'Harry Potter', Arial, sans-serif;
  margin-top: 3%;
}

.details {
  margin-top: 35%;
}

.background {
    background-repeat: no-repeat; 
    background-position: center top;
    /* background-attachment: fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 80%;
  height: 100%;
  /* position: fixed; */
  margin-left: 10%;
  margin-right: 10%;
}

.scroll {
  width: 100%;
  height: 200%;
  overflow-y: scroll;

}
