<div class="scroll" [ngStyle]="{backgroundImage:'url(./assets/wall.jpg)'}">
  <mat-card class="background" [ngStyle]="{backgroundImage:'url(./assets/paper.jpg)'}">
    <div class="details" *ngIf="detail">
      <h3>Name : {{detail.name}}</h3>
      <h3>Actor : {{detail.actor}}</h3>
      <h3>House : {{detail.house}}</h3>
      <h3>Blood Status : {{detail.ancestry}}</h3>
      <h3>Date Of Birth : {{detail.dateOfBirth}}</h3>
      <!-- <h3>Eye Colour : {{detail.eyeColour}}</h3>
      <h3>Gender : {{detail.gender}}</h3>
      <h3>Hair Colour : {{detail.hairColour}}</h3> -->
      <h3>Patronus : {{detail.patronus}}</h3>
      <h3>Species : {{detail.species}}</h3>
      <h3>Wand : 
        {{detail.wand.core}} -
        {{detail.wand.wood}} -
        {{detail.wand.length}}
      </h3>
      <fieldset>
        <legend>
          <h3>Alive</h3>
        </legend>
        <div>
          <input type="checkbox" id="Yes" [checked]="detail.alive">
          <label for="Yes">Yes</label>
        </div>
        <div>
          <input type="checkbox" id="No" [checked]="!detail.alive">
          <label for="No">No</label>
        </div>
      </fieldset>
      <fieldset>
        <legend>
          <h3>Hogwarts Staff</h3>
        </legend>
        <div>
          <input type="checkbox" id="Yes" [checked]="detail.hogwartsStaff">
          <label for="Yes">Yes</label>
        </div>
        <div>
          <input type="checkbox" id="No" [checked]="!detail.hogwartsStaff">
          <label for="No">No</label>
        </div>
      </fieldset>
      <fieldset>
        <legend>
          <h3>Hogwarts Student</h3>
        </legend>
        <div>
          <input type="checkbox" id="Yes" [checked]="detail.hogwartsStudent">
          <label for="Yes">Yes</label>
        </div>
        <div>
          <input type="checkbox" id="No" [checked]="!detail.hogwartsStudent">
          <label for="No">No</label>
        </div>
      </fieldset>
    </div>
    <!-- <div *ngFor="let wand of wands"> -->
      <!-- <h1>Wand : {{wand.wood}}</h1> -->
    <!-- </div> -->
  </mat-card>
</div>